<h1 class="theader">Editing items</h1>

<%= render "form", good: @good %>

<br>

<div>
  <%= link_to "Show this good", @good , class: "btn btn-primary"%> |
  <%= link_to "Back to goods", goods_path,  class: "btn btn-primary" %>
</div>
