
<div class="home2">
<h1 class="theader"> Welcome to Aracnotech item manager</h1>
</div>

<div class="home">

      <%= image_tag(  "Aracnotech Items (1).png", size: "50x50", :alt => "rss feed", :class => "img-circular2") -%>

</div>
